.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;    
}

.ava {
  width:60px;
  height:60px;
  border-radius: 50%;
}

.dialogs .messageTextArea {
  margin-left:400px;
}

.dialogsItems .dialog {
  padding: 10px;
  color: white;
}

.dialogsItems .active {
  color:rgb(251, 255, 0);
  font-weight: bold;
}

.messages {
  padding: 10px;
}

.messages .message {
  padding: 10px;
  color: white;
}